[[source]]

url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true


[requires]

python_version = "3.6"


[dev-packages]

"e1839a8" = {path = ".", editable = true}


[packages]

flask = "*"
